#include <windows.h>
#include "resource.h"

ID_ICON ICON DISCARDABLE "starryn.ico"

IDD_MAIN_WINDOW DIALOG 6, 18, UI_INITIAL_WIDTH, UI_INITIAL_HEIGHT
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Starry Night Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    RTEXT         "Building Height (percent): ", 0,
                  UI_BORDER, BUILDING_HEIGHT_OFFSET_Y, UI_DESCRIPTION_WIDTH,
                  UI_LINE_HEIGHT

    RTEXT         "Building Count: ", 0,
                  UI_BORDER, BUILDING_COUNT_OFFSET_Y, UI_DESCRIPTION_WIDTH,
                  UI_LINE_HEIGHT

    RTEXT         "Flasher: ", 0,
                  UI_BORDER, FLASHER_OFFSET_Y, UI_DESCRIPTION_WIDTH,
                  UI_LINE_HEIGHT

    CONTROL       "", IDE_BUILDING_HEIGHT, "EDIT",
                  ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE |
                  WS_BORDER | WS_TABSTOP,
                  EDIT_BOX_OFFSET_X, BUILDING_HEIGHT_OFFSET_Y,
                  UI_SMALL_BOX_WIDTH, UI_LINE_HEIGHT

    CONTROL       "", IDE_BUILDING_COUNT, "EDIT",
                  ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP,
                  EDIT_BOX_OFFSET_X, BUILDING_COUNT_OFFSET_Y,
                  UI_SMALL_BOX_WIDTH, UI_LINE_HEIGHT

    AUTOCHECKBOX  "", IDC_FLASHER, EDIT_BOX_OFFSET_X, FLASHER_OFFSET_Y,
                  UI_SMALL_BOX_WIDTH, UI_LINE_HEIGHT

    CONTROL       "OK", IDC_OK, "BUTTON",
                  BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,
                  OK_OFFSET_X, OK_CANCEL_OFFSET_Y, UI_BUTTON_WIDTH,
                  UI_LINE_HEIGHT

    CONTROL       "Cancel", IDC_CANCEL, "BUTTON",
                  WS_CHILD | WS_VISIBLE | WS_TABSTOP,
                  CANCEL_OFFSET_X, OK_CANCEL_OFFSET_Y, UI_BUTTON_WIDTH,
                  UI_LINE_HEIGHT

END

